<!-- login.html -->
{% extends "base.html" %}

{% load static crispy_forms_tags %}

{% block content %}
<div class="signin-container mt-5">
    <h2>Custom Log In</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>

<style>
    /* Signupページ専用スタイル */
    .signin-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f9fa; /* ライトグレー */
        border: 1px solid #dee2e6;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .signin-container h1 {
        font-size: 1.8rem;
        font-weight: bold;
        color: #343a40; /* ダークグレー */
    }
</style>

{% endblock %}
