{% extends "base.html" %}

{% load i18n %}
{% load allauth account %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="container mt-5 login-form-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h1 class="open-sans text-white">{% trans "Sign In" %}</h1>
                </div>
                <div class="card-body">
                    <p class="text-center">
                        {% blocktranslate %}
                            If you have not created an account yet, please 
                            <a href="{{ signup_url }}" class="text-primary font-weight-bold">sign up</a> first.
                        {% endblocktranslate %}
                    </p>
                    
                    {% url 'account_login' as login_url %}
                    <form method="post" action="{{ login_url }}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.non_field_errors }}
                        </div>
                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        
                        {{ redirect_field }}
                        
                        <button type="submit" class="btn btn-primary btn-block mt-3">
                            {% trans "Sign In" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
