{% extends 'base.html' %}

{% block title %}
Thank You - Ramen Bar
{% endblock %}

{% block content %}

<!-- Common Header Section -->
<section id="common-header" class="d-flex align-items-center justify-content-center position-relative text-white">
    <div class="overlay"></div>
    <div class="container text-center position-relative">
        <h1 class="display-4 font-weight-bold">Thank You</h1>
        <p class="lead mb-4">We appreciate your feedback and inquiries!</p>
    </div>
</section>

<!-- Main Thank You Section -->
<section id="thankYouSection" class="d-flex align-items-center justify-content-center bg-light"
    style="padding: 10px 0;">
    <div class="container" style="max-width: 50%; padding: 10px;">
        <h1 class="text-center mb-4" style="font-size: 1.5rem; color: #333;">Your message has been successfully
            sent.<br>We'll get back to you shortly.</h1>



        {% endblock %}